* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

html {
    scroll-behavior: smooth;
}


.home {
    text-align: center;
    margin-top: 100px;
    height: 1200px;
    background: url('img/bg1.jpg');
    background-repeat: no-repeat;
    color: black;
}

.home .header{
    text-align: center;
    margin-top: 100px;
}

.home a {
    margin-top: 10px;
}

#about {
    height: 1248px;
    background-color: white;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    animation: about 2s;
    animation-delay: .3s;
    animation-fill-mode: forwards;
    color: white;
}

@keyframes about {
    from {top: 0px;}
    to {top: 200px; color: black;}
  }



#skills {
    height: 700px;
    background: url('img/bg3.jpg');
    color: black;
    text-align: center;
}

#skills #python{
    color:rgb(0, 179, 0);

}

#skills #htmlcss{
    color: rgb(0, 179, 0);

}

#skills #js{
    color: orange;

}

#skills #flask{
    color:rgb(0, 179, 0);

}

#skills #pygame{
    color:rgb(0, 179, 0);

}

#skills #bootstrap{
    color:rgb(0, 179, 0);

}

.projects {
    text-align: center;
    margin-top: 100px;
    height: 800px;
    background: url('img/bg4.jpg');
    background-size: 1400px 800px;
    background-repeat: no-repeat;
    animation: proj 2s;
    animation-fill-mode: forwards;
    color: white;
}

@keyframes proj {
    from {top: 0px;}
    to {top: 200px; color: black;}
  }

.projects .header{
    text-align: center;
}

.projects .app{
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 20px;

}

.contact{
    margin-top: 10px;
    font-size: x-large;
}

.contact .ig{
    color: black;
    margin-right: 10px;
}

.contact .ig:hover{
    color: black;
    margin-right: 10px;
    font-size: xx-large;
    transition: .3s;
}

.contact .email{
    color: black;
    margin-right: 10px;
}

.contact .email:hover{
    color: black;
    margin-right: 10px;
    font-size: xx-large;
    transition: .3s;
}

.contact .github{
    color: black;
}

.contact .github:hover{
    color: black;
    margin-right: 10px;
    font-size: xx-large;
    transition: .3s;
}
